nav{
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    line-height: 30px;
    overflow: scroll;
}

#title-nav{
    float: left;
    margin-top: 30px;
}

#home{
    float: left;
}

#menus{
    margin-top: 100px;
}

nav a{
    display: block;
    text-decoration: none;
}

#open-button{
    position: fixed;
}

#close-button{
    position: unset;
    margin-left: 60px;
}
